@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Cambiar Contraseña";
}
<!DOCTYPE html>
<html lang="en">
<body class="background-cp">
    <div class="text-center">
        <div class="container">
            <h1>Actualiza tu Contraseña</h1>
        </div>

        <div class="form-container">
            <form method="post" class="form-group">
                <div class="px-4">
                    <div class="p-3 text-left">
                        <label for="oldPassword" class="form-label">Contraseña actual</label>
                        <input asp-for="old_password" type="password" class="form-control" id="oldPassword" placeholder="Introduce tu contraseña actual">
                    </div>
                    <div class="p-3 text-left">
                        <label for="newPassword" class="form-label">Contraseña nueva</label>
                        <input asp-for="new_password" type="password" class="form-control" id="newPassword" placeholder="Introduce tu nueva contraseña">
                    </div>
                    <div class="p-3 text-left">
                        <label for="newCPassword" class="form-label">Confirma contraseña nueva</label>
                        <input asp-for="newC_password" type="password" class="form-control" id="newCPassword" placeholder="Confirma tu nueva contraseña">
                    </div>
                    <div class="p-3">
                        <input id="Submit1" type="submit" value="Guardar Cambios" class="btn btn-primary" />
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Message))
                    {
                        <div class="alert alert-info">@Model.Message</div>
                    }
                </div>
            </form>
        </div>
    </div>
</body>
</html>
