@page
@model CreditModel
@{
    ViewData["Title"] = "FuerzaLeona";
}
    
<body class="container background-biomonitor px-4">
    <div class="row info-title-format">
        <h1 class="info-title col-7 col-sm-8">Conoce a FuerzaLeona</h1>
        <img class="info-title-img col-5 col-sm-4" src="~/img/logoFuerza.png" />
    </div>

    <div class="row my-5">
        <!-- Primera fila -->
        <div class="col-md-4 center-image my-4">
            <!-- Lado izquierdo con la imagen -->
            <img src="~/img/Sofi_Fuerza.PNG" alt="Imagen" class="img-fluid  rounded float-start" style="height: 340px; width: 227px;">
        </div>
        <div class="col-md-8 my-auto">
            <!-- Lado derecho con el título y el texto -->
            <h2 class="textoNombre">Brenda Sofía Sandoval</h2>
            <h5 class="textoJustify">Brenda Sofía, estudiante de Ingeniería en Tecnología Computacional, muestra pasión por la programación, los juegos y la tecnología. Su gran vocación por la organización y productividad la conviertieron en SCRUM Master del equipo FuerzaLeona. El principal aporte de Sofía se centró en la creación y conexión de los 'puentes digitales' (API) entre todos los componentes que "Quiero ser Biomonitor" ofrece, incluyendo el videojuego, además del modelado de la página web que se le ofrece a AWAQ. </h5>
        </div>
    </div>

    <div class="row my-5">
        <!-- Segunda fila -->
        <div class="col-md-4 center-image my-4">
            <!-- Lado izquierdo con la imagen -->
            <img src="~/img/ReginaLeona.JPG" alt="Imagen" class="img-fluid  rounded float-start" style="height: 340px; width: 227px;">
        </div>
        <div class="col-md-8 my-auto">
            <!-- Lado derecho con el título y el texto -->
            <h2 class="textoNombre">Regina Cavazos</h2>
            <h5 class="textoJustify">Regina Cavazos es una alumna en el sector de Tecnologías Computacionales del Tecnológico de Monterrey. Regina tiene un gusto muy grande por front-end y back-end, además de bases de datos. Su impulso por mantener "Quiero ser Biomonitor" dentro de los lineamientos, la convirtieron en la Product Owner del trabajo, representando el arduo trabajo que FuerzaLeona ha logrado hacer. Ella ha contribuido en la creación y optimización de las bases de datos, además de la modelación y conexión del modelo gráfico en la página web, además de adiciones visuales al videojuego.</h5>
        </div>
    </div>
    <div class="row my-5">
        <!-- Tercera fila -->
        <div class="col-md-4 center-image my-4">
            <!-- Lado izquierdo con la imagen -->
            <img src="~/img/nicoo.jpeg" alt="Imagen" class="img-fluid  rounded float-start" style="height: 340px; width: 227px;">
        </div>
        <div class="col-md-8 my-auto">
            <!-- Lado derecho con el título y el texto -->
            <h2 class="textoNombre">Nicolás Mendoza</h2>
            <h5 class="textoJustify">Nicolás Mendoza es un alumno entusiasta apasionado por los videojuegos. El estudiar la carrera de Ingeniería en Tecnologías Computacionales le ha permitido crecer como gran programador y desarrollar sus habilidades para el front-end. Nicolás es parte del equipo SCRUM, dando todo de él para llevar a cabo el proyecto. "Quiero ser Biomonitor" ha sido posible gracias a las aportaciones de Nicolás en los videojuegos, manejando la logística de los componentes que este tiene. Nicolás ha tenido un acercamiento más directo con los usuarios, creando parte del manual de uso.</h5>
        </div>
    </div>
    <div class="row my-5">
        <!-- Cuarta fila -->
        <div class="col-md-4 center-image my-4">
            <!-- Lado izquierdo con la imagen -->
            <img src="~/img/Foto_Ferr.JPG" alt="Imagen" class="img-fluid  rounded float-start" style="height: 340px; width: 227px;">
        </div>
        <div class="col-md-8 my-auto">
            <!-- Lado derecho con el título y el texto -->
            <h2 class="textoNombre">Fernando Daniel Monroy</h2>
            <h5 class="textoJustify">Fernando Monroy estudia en el Tecnológico de Monterrey, aprendiendo todo sobre las tecnologías computacionales. Sus grandes conocimientos sobre el manejo de datos y procesamiento de ellos en back-end, lo convirtieron en una gran adición al equipo de FuerzaLeona como parte del equipo SCRUM. Fernando ha aportado al proyecto técnicas de recopilación de la base de datos así como la conexión de los 'puentes digitales' (API) entre todos los componentes que "Quiero ser Biomonitor" ofrece, al igual que la verificación y confirmación de su funcionamiento, permitiendo que no ocurran imprevistos. </h5>
        </div>
    </div>
    <div class="row my-5">
        <!-- Quinta fila -->
        <div class="col-md-4 center-image my-4">
            <!-- Lado izquierdo con la imagen -->
            <img src="~/img/Foto_Rocco.JPG" alt="Imagen" class="img-fluid  rounded float-start" style="height:340px; width: 227px;">
        </div>
        <div class="col-md-8 my-auto">
            <!-- Lado derecho con el título y el texto -->
            <h2 class="textoNombre">Rodrigo López</h2>
            <h5 class="textoJustify">Rodrigo López, estudiante de Ingeniería en Tecnología Computacional, es un apasionado por los videjuegos y las animaciones. Gracias a las grandes habilidades de trabajar en equipo y de creatividad en la programación que Rodrigo tiene, es un elemento clave para el equipo de SCRUM de FuerzaLeona. Rodrigo ha tenido la oportunidad de colaborar con el equipo en el área de videojuegos junto con Nicolás Mendoza, al igual que una profunda investigación para asegurarnos que todo lo que se les enseñe a los Biomonitores, sea efectiva y muy útil para ellos.</h5>
        </div>
    </div>

    <div class="row my-4">

        <!-- Título superior de sección de usos externos-->
        <h2 class="my-4">Usos Externos</h2>

        <!-- Sección de audios utilizados -->
        <h4 class="my-2">Audios Utilizados:</h4>
        <div class="row">
            <div class="col-md-3">
                <strong>Titi Ornamentado:</strong>
                <a href="https://www.youtube.com/watch?v=CkUCCyhv5Xc" target="_blank">Haz click aquí</a>
            </div>
            <div class="col-md-3">
                <strong>Condor:</strong>
                <a href="https://www.youtube.com/watch?v=msAU6cl4rME" target="_blank">Haz click aquí</a>
            </div>
            <div class="col-md-3">
                <strong>Oso:</strong>
                <a href="https://www.youtube.com/watch?v=PlLXUAh8xzg" target="_blank">Haz click aquí</a>
            </div>
            <div class="col-md-3">
                <strong>Polilla:</strong>
                <a href="https://www.youtube.com/watch?v=P0QXx8jF7eU" target="_blank">Haz click aquí</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <strong>Tucán:</strong>
                <a href="https://www.youtube.com/watch?v=JkbOypN9PqA" target="_blank">Haz click aquí</a>
            </div>
            <div class="col-md-3">
                <strong>Audio Principal:</strong>
                <a href="https://www.youtube.com/watch?v=A23BZaIHO_4" target="_blank">Haz click aquí</a>
            </div>
            <div class="col-md-3">
                <strong>Audio Secundario:</strong>
                <a href="https://www.youtube.com/watch?v=Q9n61gLP5Vw" target="_blank">Haz click aquí</a>
            </div>
            <div class="col-md-3">
                <strong>Audio para desafío:</strong>
                <a href="https://www.youtube.com/watch?v=F3T8Ew5GuVw&list=PL8TT7wwcTBfu3UufRqhYYU3ZxIdIhkwif&index=49" target="_blank">Haz click aquí</a>
            </div>
        </div>

        <!-- Descargo de responsabilidad e información de fuentes de información -->
        <h6 class="my-4 textoJustify">El contenido generado en esta plataforma del proyecto de "Quiero ser Biomonitor" hace uso de diversas fuentes bajo distintas licencias para enriquecer la experiencia del usuario. Los sprites utilizados son creados por Canva y están sujetos a sus términos de uso y licencia. Asimismo, el código generado por los modelos de lenguaje GPT y Copilot está escrito en C# y puede estar sujeto a las políticas de licencia de OpenAI y GitHub, respectivamente. Los audios provenientes de YouTube están sujetos a los términos y condiciones de la plataforma. Además, las imágenes de animales recopiladas provienen de los archivos proporcionados por AWAQ y National Geographic, cuyo uso está regido por las políticas de derechos de autor de estas entidades.</h6>

    </div>
</body>
