@page
@model DashboardUserModel
@{
    ViewData["Title"] = "Dashboard Usuario";
}


<body class="background-biomonitor container">


    <iframe width="1200" height="1000" src="https://lookerstudio.google.com/embed/reporting/20a7baeb-d558-48e4-82ea-1b14e7e4f5ce/page/u4awD?params=%7B%22ds10.bioid%22:@Model.UserId,%22ds21.bioid%22:@Model.UserId,%22ds5.bioid%22:@Model.UserId,%22ds12.bioid%22:@Model.UserId,%22bioid1%22:@Model.UserId%7D"
            frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin
            allow-popups allow-popups-to-escape-sandbox">
    </iframe>


</body>

