@page
@model InfoModel
@{
    ViewData["Title"] = "Quiero Ser Biomonitor";
}

<body class="background-biomonitor">
    <div class="container info-title-format">
        <h1 class="info-title">Bienvenid@s, Futur@s Biomonitores</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="https://www.youtube.com/watch?v=lO8LOlD9_zI" target="_blank">
                   <div class="imageVideo">
                        <img src="~/img/biomonitorvid.jpeg" alt="Somos Awaq Video">
                   </div>
                </a>
            </div>

            <div class="col-sm">
                <h3>Prepárate</h3>
                <p>
                    ¿Estás listo para embarcarte en una aventura única donde la ciencia y la naturaleza se encuentran?
                    ¡Te presentamos nuestro innovador juego de capacitación en biomonitoreo! Este no es solo un juego;
                    es una invitación a convertirte en un héroe del mundo real para nuestro planeta.
                </p>

                <h4> ¿Qué es el Biomonitoreo? </h4>
                <p>
                    El biomonitoreo es una forma fascinante de estudiar el medio ambiente y sus cambios a través de la
                    observación y el registro de la vida silvestre y los ecosistemas. Al participar en biomonitoreo,
                    contribuyes directamente a la ciencia y a la conservación de la naturaleza.

                </p>

                <h4>
                    ¿Por Qué Convertirse en Biomonitor?
                </h4>
                <p>
                    Al convertirte en biomonitor, no solo adquieres conocimientos y habilidades científicas, sino que
                    también juegas un rol crucial en la protección de nuestro medio ambiente. Tus observaciones y datos
                    ayudan a los científicos a entender mejor los ecosistemas y a tomar decisiones informadas para su conservación.
                </p>

                <h4>¡Emprende tu Viaje Hoy!</h4>
                <p>
                    Ya sea que te apasione la naturaleza, la ciencia o simplemente busques una aventura emocionante, nuestro
                    juego de capacitación en biomonitoreo es el punto de partida perfecto. Únete a nuestra comunidad hoy y haz
                    una diferencia real para el planeta.
                </p>

                <br>
                <h4>¡Descarga el Juego y Conviértete en Biomonitor!</h4>
            </div>
        </div>
    </div>
</body>